* {
box-sizing: border-box;}
body {
	
  width:100%;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fdfdfd; 
  }
  .nav-link{
	color:#fff;
  }
  .nav-item .nav-link:hover{
	color:#cccc00;
  }

  
 .container{
 width:80% !important;
 /* margin-right: 15px; */
 /* margin-left: 15px; */
 }
#lic li {
	list-style-type:none;
	
}
#lic li::before{
	content:'';
   display: inline-block;
   width: 8px;
   height: 8px;
   -moz-border-radius:4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #b7dc12;position: relative;
	right: 2%
}

.steps {
  
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}
.steps a {
  color: white;
  text-decoration: none;
}

.steps li {
  float: left;
  margin: 0 auto;
  width: 330px; /* 100 / number of steps */
  height: 70px; /* total height */
  list-style-type: none;
  padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
  border-right: 3px solid white; /* width: gap between arrows, color: background of document */
  position: relative;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
  position: absolute;
  top:0;
  left:0;
  display: block;
  border-left: 25px solid white; /* width: arrow width, color: background of document */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}
/* colored arrow to the right */
.steps li::after {
  z-index: 1; /* need to bring this above the next item */
  position: absolute;
  top: 0;
  right: -25px; /* arrow width (negated) */
  display: block;
  border-left: 25px solid #7c8437; /* width: arrow width */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width:0;
  height:0;
  content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: #666666 }
.steps li::after { border-left-color: #666666 }

/* Current */
.steps li.current { background-color: #cccc00 }
.steps li.current::after { border-left-color: #cccc00 }

/* Following */
.steps li.current ~ li { background-color: #009966 }
.steps li.current ~ li::after { border-left-color: #fff }

 
 
 .contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #16a361;
		padding: 2%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
	  .container1 {
            
            margin: 70px auto;
        }
        .slider-container {
            width: 90%;
            max-width: 500px;
            margin: 0 auto 50px;
        }
       